/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0;
    background-color: var(--main-bg-color);
}


.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    background-color: white;
}
main {
    padding: 0 50px;
}
h1, h2, h3, p{
    margin:0;
    padding: 0;
}
h2 {
    font-size: 22px;
    padding-bottom: 5px;
}
h3 {
    font-size: 18px;
    margin-top: 30px;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
ul, li {
    margin: 0;
    padding: 0;
  }  
li {
    list-style-type: none;
}
a {
    color: black;
    text-decoration: none;
}
/*****************Header : logo et menu*********************/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
#logo img {
   height: 19px;
   padding: 30px;
}
nav{
    display: flex;
    flex-direction: row;
}
nav a {
    font-weight: 400;
    font-size: 16px;
    width: 112px;
    padding-top: 16px;
    border-top: 2px solid white;
    text-align: center;
}
nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/*************Search et filters*******************/
#searchAndFilter {
    padding-top: 15px;
    padding-bottom: 15px;
}
#searchAndFilter #info {
    display: flex;
    align-items: center;
}
#locationIcon {
    color: black;
}
#searchBar {
    display: flex;
    margin-top:38px;
    margin-bottom: 35px;
}
#searchBar label,input,button {
    padding: 15px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
}
#searchBar input::placeholder {
    opacity: 1;
}
#searchBar label {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-right: none;
    border-radius: 15px 0 0 15px;
}
#searchBar button {
    background-color: var(--main-color);
    color: white;
    border: 1px solid #F2F2F2;
    border-left: none;
    border-radius: 0 15px 15px 0;
}
#filterBar {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    padding-left: 0px;
    margin-bottom: 35px;
}
#filterBar li {
    margin-right: 20px;
    border: 3px solid #F2F2F2;
    padding: 15px;
    border-radius:30px;
}
#filterBar li:hover {
    background-color: var(--filter-bg-color);
}
#filterBar li:first-child {
    border: none;
    padding-left: 0px;
}
#filterBar li:first-child:hover {
    background-color: white;
}
#filterBar i {
    margin-right: 10px;
}
#infoCircle {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    height: 20px;
    width: 20px;
    border-radius:50%;
    border: 3px solid #F2F2F2;
    color: var(--main-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

}
.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 33px;
    /* filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); */
    /* box-shadow: 0px 3px 15px rgba(0,0,0,0.1); */
}
.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.hebergements-cards .card-subtitle {
    margin: 0;
}
.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    /* box-shadow: 0px 3px 15px rgba(0,0,0,0.1); */
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**********Activitées********/
.activites {
    padding-top: 30px;
}
.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.activites-section {
    padding: 30px 0;
}
.card-activity {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 33px;
    border-radius: 20px;
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.1);
}
.card-activity img {
    /* width: fit-content; */
    object-fit: cover;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-activity h3 {
    margin: auto;
    margin-left: 0;
    padding: 15px;
}
/**********Footer***********/
footer {
    margin: 0;
    padding: 20px;
    /* margin-bottom: 50px; */
    background-color: #F2F2F2;
}
footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
footer > ul > li {
    width : 33%;
    /* margin-top: 18px; */
    /* padding: 0; */
}
footer > ul > li > ul > li {
    /* width : 30%; */
    margin-top: 18px;
    /* padding: 0; */
}
footer h3 {
    margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Large desktop */
@media (max-width: 1440px) {
    .main-container {
        max-width: 1900px;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}